.editable {
  td {
    padding-top: 13px !important;
    padding-bottom: 12.5px !important;
  }
}
.taxTable {
  :global {
    .ant-card .ant-card-body {
      padding-bottom: 24px !important;
    }
  }
}